/node_modules
/storage
/public
/public/build
/public/hot
/public/storage
/public/assets
/public/qrcodes
/public/uploads
/public/vendor
/public/video
/public/mix-manifest.json
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
